<form action="">
<input type="text" name="search">
<input type="submit" placeholder="Introduce una palabra a buscar" value="Buscar">
</form>
<h2><%= textoBus %></h2>
<table>
    <% var i; for (i=0; i < quizes.length; i++) { %>        
    <tr>
        <td><a href="quizes/<%= quizes[i].id %>"><%= quizes[i].pregunta %></a></td>
        <td><a href="quizes/<%= quizes[i].id %>/edit"><button>editar</button></a></td>
        <td>
            <form method="post" action="quizes/<%= quizes[i].id %>?_method=delete">
                <button type="submit" onClick="return confirm('Borrar: <%= quizes[i].pregunta %>');">
                borrar
                </button>
            </form>
        </td>
    </tr>
    <% } %>
</table>
<p/>
<a href="/quizes/new"><button type="button">Crear pregunta</button></a> 